<div class="card-container">
    <mat-card class="card">
        <p>He's the best trainer ever! Bench went from 185 to 224 in 3 months</p>
        <mat-card-footer class="testimonial-name">Client Name</mat-card-footer>
    </mat-card>
    <mat-card class="card">
        <p>He's the best trainer ever! Bench went from 185 to 224 in 3 months</p>
        <mat-card-footer class="testimonial-name">Client Name</mat-card-footer>
    </mat-card>
    <mat-card class="card">
        <p>He's the best trainer ever! Bench went from 185 to 224 in 3 months</p>
        <mat-card-footer class="testimonial-name">Client Name</mat-card-footer>
    </mat-card>
    <mat-card class="card">
        <p>He's the best trainer ever! Bench went from 185 to 224 in 3 months</p>
        <mat-card-footer class="testimonial-name">Client Name</mat-card-footer>
    </mat-card>
</div>