.card {
    border-radius: 4px;
    border: 1px solid black;
    margin-left: 80px;
    margin-top: 80px;
    background-color: #171717;
    Width: 640px;
    height: 150px;
    text-align: center;
}

.testimonial-name {
    color: grey;
}


.card-container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
}

.center {
    text-align: center;
}

#hear-from {
    font-size: 48px;
    font-weight: bold;
}